body{
  margin: 0;
  font-family: sans-serif;
  background:#2D4B73;  
}

.form_paquete{
width: 60%;
max-width: 500px;
margin: auto;
background:#99B4BF;
  border-radius: 7px
}
.contenedor_paquete{
  padding: 5px 10px;
  display:flex;
  justify-content: space-between;
 text-align: center;
  
}
.titulo_paquete{
 Background:#209db0;
 color:#0F6794;
  padding: 8px;
   text-align: center;
  font-weight:100px;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 10px solid crimson;
}
.tabla_botones{
  text-align:center;
  border: 1px solid darkgray; 
}
.btn_Actualizar{
 background: #04DB04;
 color:#fff;
  margin: auto;
  padding: 10px  40px;
  cursor: pointer;
  border-radius:7px;
}
.btn_Consultar:active{
transform: scale (1.05);
}
