.contenedor {
  border: solid 1px black;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.cabecera{
  display: flex;
  justify-content: space-between;
  postion: fixed;
  height: 200px; 
  background-color: blue;
}

.cabecera img{
  width: 100px;
}
.titulo_cabecera{
 position: absolute;
 top: 40px; 
  left: 500px;
  text-align: center;
  }
  .slogan_cabecera{
  position: absolute;
  top: 90px;
  left: 600px;
}
.menu{
 margin: 10px 10px 0 0;
 position: unset;
 backgroud: none;
 height:unset;
 border: none;
}
.link{
  background:#0996D9;
  color:white;
  padding: 5px;
  border-radius: 3px;
}
.galeria { 
  width: 100%;
  height: 400px;
  background:#10E1FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lienzo_galeria{
  width: 600px;
  height: 350px;
  overflow: hidden;
  }
.galeria_contenedor{
  display: flex;
  width: 7000px;
  height: 50px;
  transition: transform 1s ease-in;
  will-change: transform;
  }
  .elemento1:checked ~ .galeria_contenedor{
  transform: translatex(0px);
}

.elemento2:checked ~ .galeria_contenedor{
  transform: translatex(-700px);
}

.elemento3:checked ~ .galeria_contenedor{
  transform: translatex(-1400px);
}
.controles{
  width:100%;
  height: 30px;
  display:flex;
  justify-content: center;
  position: relative;
  top: -26px;
}

 label{
 margin: 5px;
 width: 20px;
 height:20px;
 border-radius: 100px;
 background:#FAE039 ;
 cursor: pointer;
 display: block;
}
.tienda{
  display: grid;
  grid-template: repeat(3,300px) / repeat(3, 300px);
  justify-content: center;
  grid-gap:16px;
  width: 100%;
  height: auto;
}
.tienda article {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: wrap;
  border: solid;
  border-radius: 15px;
  overflow:hidden;
   cursor:pointer;
}
.espacio{
  position: relative;
  height: 20px;
}

.PiedePagina {
  display: flex;
  justify-content:center;
  position: relative;
  heght: 105px;
  background:#10E1FF;
  align-content: center;
}
.PiedePagina footer{
  text-align:center;
  color:black;
  }
article:active{
transform:scale(1.10);
}


  






